<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>温室环境监测</title>
</head>
<body>
<h1>1号大棚</h1>
    <div>
    <h4>设备列表：</h4>
        <ul>
            {% for h in device %}
            <li>{{ h.name }}</li>
            <li>{{ h.location }}</li>
            <li>{{ h.status }}</li>
            <li>{{ h.category }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
    <h4>数据列表：</h4>
        <ul>
            {% for h in data %}
            <li>{{ h.indicator }}</li>
            <li>{{ h.value }}</li>
            <li>{{ h.device }}</li>
            <li>{{ h.create_time }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>