{% extends 'base_content.html' %}
{% load static%}
{% block top-css %}
 <style type="text/css">
        .contents{
            margin-left: 10%;
            margin-top: 30px;

        }
        .first, .second, .third, .fourth {
            display: block;
        }

        .first {
            float: left;
            margin-left: 25px;
        }

        .second {
            float: left;
            margin-left: 50px;
        }

        .third {
            float: left;
            margin-left: 50px;
        }

        .fourth {
            float: left;
            margin-left: 55px;

        }

        .wen_du {
            color: lightskyblue;
            font-size: 30px;
        }

        .shi_du {
            color: lightskyblue;
            font-size: 30px;
        }

        .tan_du {
            color: lightskyblue;
            font-size: 30px;
        }

        .shui_fen {
            color: lightskyblue;
            font-size: 30px;
        }

    </style>
{% endblock top-css %}
{% block body-content %}

<section>
    <div class="container-fluid">
        <div class="row ">
            <!--左侧导航开始-->
            <div class="col-xs-2 bg-blue">
                <br/>
                <div class="panel-group sidebar-menu" id="accordion" aria-multiselectable="true">
                    <div class="panel panel-default menu-first ">
                        <!--<a href="index.html" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true"
                           aria-controls="collapseOne">--><!--实现主页下可以折叠-->
                        <a href="index.html">
                            <i class="icon-home icon-large"></i> 主页
                        </a>
                    </div>
                    <div class="panel panel-default menu-first">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                           aria-controls="collapseOne">
                            <i class="icon-user-md icon-large"></i> 绿缘论坛</a>

                        <div id="collapseOne" class="panel-collapse collapse " >
                            <ul class="nav nav-list menu-second">
                               <li class=""><a href="{% url 'news:luntan' %}"><i class="icon-edit"></i>论坛</a></li>
                               <li class=""><a href="{% url 'news:write' %}"><i class="icon-edit"></i>发布帖子</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default menu-first menu-first-active">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            <i class="icon-book icon-large"></i> 大棚管理</a>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <ul class="nav nav-list menu-second">
                                <li class="menu-second-selected"><a href="#"><i class="icon-user"></i> 环境监测</a></li>
                                <li><a href="{% url 'control:statecontrol' %}"><i class="icon-undo"></i> 灌溉控制</a></li>
                                <li><a href="{% url 'datas:history' %}"><i class="icon-trash"></i> 数据查询</a></li>
                                <li><a href="{% url 'status:device' %}"><i class="icon-list"></i> 设备工况</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default menu-first">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            <i class="icon-book icon-large"></i> 个人中心</a>

                        <div id="collapseThree" class="panel-collapse collapse">
                            <ul class="nav nav-list menu-second">
                                <li><a href="{% url 'user:userinfo' %}"><i class="icon-user"></i> 基本资料</a></li>
                                <li><a href="{% url 'user:password' %}"><i class="icon-edit"></i> 个人密码</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--左侧导航结束-->
            <!----------------------------------------------------------------------------------------------------->
            <!--右侧内容开始-->
            <div class="col-xs-10">
                <br/>
                <ol class="breadcrumb">
                    <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>&nbsp;主页</a></li>
                    <li class="active">大棚管理 - 环境监测</li>
                </ol>

                <div class="xuanze" style="margin-left: 15%;margin-top: 50px">
                <div class="select_place">
                    <span class="icon-map-marker icon-large"style="font-size: 16px">&nbsp;请选择位置：</span>
                    <select id='select_place' style="font-size: 16px">
                        <option>大棚一</option>
                        <option>大棚二</option>
                        <option>大棚三</option>
                    </select>
                </div>
                <div class="select_depth"style="margin-top: 20px">
                    <span class="icon-asterisk icon-large"style="font-size: 16px">&nbsp;请选择土壤深度：</span>
                    <select id="select_depth" style="font-size: 16px">

                         <option>10CM</option>

                        <option>20CM</option>
                        <option>40CM</option>
                    </select>
                </div>
                </div>



                <div class="contents">
                    <div class="first">
                        <img src="{% static 'img/温度.png' %}">

                        <P>温室温度</P>

                        <P class="wen_du">
                            15°C
                        </P>
                    </div>

                    <div class="second">
                        <img src="{% static 'img/空气湿度.png' %}">
                        <P>空气湿度</P>
                        <P class="shi_du">
                           47%
                        </P>
                    </div>
                    <div class="third">
                        <img src="{% static 'img/二氧化碳.png' %}">
                        <P>CO2浓度</P>
                        <P class="tan_du">
{#                            {{ wendu }}PPM#}
                            600PPM

                        </P>
                    </div>
                    <div class="fourth">
                        <img src="{% static 'img/土壤水分.png' %}">
                        <P>土壤湿度</P>
                        <P class="shui_fen">

                            {{ shidu }}%

                        </P>
                        {% csrf_token %}
                    </div>
                </div>

            </div>
            <!--右侧内容结束-->
        </div>
    </div>
</section>

{% endblock body-content %}

{% block bottom-script %}
<script>
    window.onload = setInterval(function () {
        place = $('#select_place').val()
        depth = $('#select_depth').val()
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        params = {
            'place': place,
            'depth': depth,
            'csrfmiddlewaretoken': csrf
        }
        $.post('/datas/nature', params, function (data) {
            wendu = data.wendu
            shidu = data.shidu
            $('.tan_du').text(wendu + '°C')
            $('.shui_fen').text(shidu + '%')
        })
    }, 60000);

</script>

{% endblock bottom-script %}
