{% extends 'base_content.html' %}
{% block right-content %}
                <div class="col-xs-10">
                        <br/>
                    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span>&nbsp;主页</a></li>
        <li class="active">个人中心 - 修改密码</li>
    </ol>
                    <div style="margin-left: 10%;margin-top: 50px">
                        {% csrf_token %}
                        <h3>密码修改</h3><br>
                        <input id="newpwd1" name="newpwd1" type="password" placeholder="新密码"><br><br>
                        <input id="newpwd2" name="newpwd2" type="password" placeholder="再次确认密码">
                        <button id="creat" type="submit">确认</button>
                    </div>

                </div>
{% endblock right-content %}

{% block bottom-script %}
    <script>
    $('#creat').click(function () {
        pwd1 = $('#newpwd1').val()
        pwd2 = $('#newpwd2').val()
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        params = {
             'pwd':pwd1,
            'csrfmiddlewaretoken':csrf,
        }
    if(pwd1==pwd2){
        $.post('/user/reset_password',params,function (data) {
        alert('修改成功')
            location.reload()
        })
    }
    else {
        alert('密码不一致，请重新输入')
        location.reload()
    }
    })
    </script>
{% endblock bottom-script %}
